*{
	margin: 0;
	padding: 0;
}

body	{

}
/* los ID se los llama con #; las clases con . */

#container	{
	width: 1200px;
	height: 1000px;
/*	background: #D8D8D8;  */
	margin: 0.5em auto;
	padding: 0.5em;
}

#header {
	height: 15%;
	background: #A4A4A4;
	border-radius: 1em;
	margin: 1em;
}

#nav	{
	height: 10%;
	background: blue;
	border-radius: 1em;
	margin: 1em;
}

#contenido	{
	height: 53%;
/*	background: white; */
	border-radius: 1em;
	margin: 1em;	
}

#footer	{
	height: 15%;
	background: pink;
	border-radius: 1em;
	margin: 1em;	
}

#section	{
	height: 100%;
	width: 68%;
	background: #A4A4A4;
	border-radius: 0.5em;
	float: left;
	
}

#aside	{
	height: 100%;
	width: 30%;	
	background: green;
	border-radius: 0.5em;
	float: right;
	
}

/*las clases se llaman con punto */

.articulo	{
	width: 96%;
	height: 20%;
	background: red;
	margin: 1em;
	border-radius: 1em;
}